<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <title>Document</title>
    </head>
    <body>
        <div id="app">
            <h1 v-if= 'isLogin'>您好，欢迎登录</h1>
            <h1 v-else >对不起，请先登录</h1>

            <h1 v-if='score>=80'>80以上买跑车</h1>
            <h1 v-else-if='score>=70'>70以上买四个轮</h1>
            <h1 v-else-if='score>=60'>60以上买三个轮</h1>
            <h1 v-else>60以下买两个轮</h1>
        </div>

        <script src="./vue.js"></script>
        <script>
            const vm = new Vue({
                el: '#app',
                data: {
                    msg: 'hello vue',
                    isLogin:true,
                    score:40
                }
            })
        </script>
    </body>
</html>